---
import BtnBack from "@/components/BtnBack.astro";
import CardParcial from "@/components/UI/CardParcial.astro";
import HeaderCards from "@/components/UI/HeaderCards.astro";
import Layout from "@/layouts/Layout.astro";

// props
const { docente } = Astro.params;
---

<Layout title={`${docente}`}>
    <section class="w-[80dvw] mx-auto max-w-2xl">
        <HeaderCards text1="Parciales del docente" text2={docente} />
        <BtnBack />
        <ul class="space-y-4 pt-5 pb-10">
            {[1,2,3].map((item, index) => <CardParcial item={item} index={index}, docente={docente} />)}
        </ul>
    </section>
</Layout>
