---
import Layout from '@/layouts/Layout.astro';
import { Image } from "astro:assets";
import EffectWrite from "@/components/UI/EffectWrite.astro";
import megaloblastosPng from "@/assets/megaloblastos.png"
import menu from "@/consts/menu"
import BtnTheme from "@/components/BtnTheme.vue"
import 'photoswipe/style.css';

// Si editas esto, tambien debes editar [year].astro const yearMap
const years = ["primer", "segundo", "tercer", "cuarto", "quinto"];
---

<Layout title="Megaloblastos">
    <!-- Hero -->
    <section class="flex items-center justify-center pt-20 pb-10 px-4">
        <div class="flex flex-wrap items-center justify-center gap-4 md:gap-10">
        <nav class="flex gap-2 flex-col text-primary">
            <BtnTheme data-aos="fade-down" data-aos-delay="50" client:load />
            {menu.contactanos.map((contacto, index) => <a data-aos="fade-down" data-aos-delay={(index + 1) * 50} href={contacto.href} target="_blank" rel="noopener noreferrer" class={contacto.icon}></i></a>)}
        </nav>
         <Image
            data-aos="fade-down"
            data-aos-delay="150"
            class="w-60 sm:w-64 h-60 sm:h-64 object-cover md:order-2"
            src={megaloblastosPng}
            alt="Icono megaloblastos"
            width={300}
            height={300}
         />
        <article>
            <h1 data-aos="fade-down" data-aos-delay="50" class="text-3xl font-bold text-neutral-800 dark:text-neutral-50">MEDICINA</h1>
            <h2 data-aos="fade-down" data-aos-delay="100" class="text-3xl font-bold text-primary">F.C.S.H.</h2>
            <EffectWrite />
            <p data-aos="fade-up"
            data-aos-delay="50" class="max-w-xs text-neutral-500 dark:text-neutral-400">La medicina es una ciencia de incertidumbre y un arte de probabilidad.</p>
            <p data-aos="fade-up"
            data-aos-delay="100" class="text-neutral-600 dark:text-neutral-300 font-bold mt-1">- William Osler</p>
        </article>
       </div>
    </section>
    
    <!-- Years -->
    <h3 class="text-2xl font-bold w-[80dvw] mx-auto max-w-3xl text-neutral-600 dark:text-neutral-300 pb-10 lg:px-10">Materias</h3>
    <section id="section-years" class="w-[80dvw] mx-auto max-w-3xl pb-10 place-items-center grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 lg:px-10">
    {years.map((name, index) => (
        <a href={`/years/${index + 1}`} class="fade-up-target flex-auto w-full bg-white dark:bg-neutral-800 rounded-md shadow-lg pb-8 pt-24 px-10 hover:scale-105 transition-transform duration-500 group">
            <Image
                class="w-[5.7rem] h-[5.7rem] object-cover mx-auto"
                src={megaloblastosPng}
                alt={`Icono ${name} año`}
                width={300}
                height={300}
            />
            <h3 class="text-neutral-600 dark:text-neutral-300 font-bold text-xl text-nowrap text-center pt-1 text-ellipsis overflow-hidden capitalize">
                {name} año
            </h3>
        </a>
    ))}
    </section>

    <h3 class="text-2xl font-bold w-[80dvw] mx-auto max-w-3xl text-neutral-600 dark:text-neutral-300 pb-10 lg:px-10">Nuestras propuestas</h3>
    <div class="w-[80dvw] mx-auto max-w-3xl pb-10 grid grid-cols-1 md:grid-cols-2 gap-8 lg:px-10" id="my-gallery">
        <a
          href="/propuesta-1.jpg"
          data-pswp-width="1131"
          data-pswp-height="1600"
          target="_blank"
        >
          <img
            src="/propuesta-1.jpg"
            alt="propuestas 1 megaloblastos 2024 uagrm"
          />
        </a>
        <a
          href="/propuesta-2.jpg"
          data-pswp-width="1131"
          data-pswp-height="1600"
          target="_blank"
        >
          <img
            src="/propuesta-2.jpg"
            alt="propuestas 2 megaloblastos 2024 uagrm"
          />
        </a>
      </div>
</Layout>

<script >
    
import PhotoSwipeLightbox from 'photoswipe/lightbox';

const lightbox = new PhotoSwipeLightbox({
  gallery: '#my-gallery',
  children: 'a',
  pswpModule: () => import('photoswipe'),
});

lightbox.init();
</script>
