---
import BtnBack from "@/components/BtnBack.astro";
import CardRecursos from "@/components/UI/CardRecursos.astro";
import Layout from "@/layouts/Layout.astro"
import { SupportMaterials, db, and, eq } from "astro:db"

// props
// const params = Astro.params;
const { year, materia, parcial } = Astro.params;
const reWrite = {
    1: "Nro 1",
    2: "Nro 2",
    3: "Nro 3",
}

const materialSupports = await db.select().from(SupportMaterials).where(and(eq(SupportMaterials.year, Number(year)),eq(SupportMaterials.materia, materia),eq(SupportMaterials.parcial, Number(parcial)))).all()
---

<Layout title="parciales">
    <section class="w-[80dvw] mx-auto max-w-2xl">
        <p data-aos="fade-down" data-aos-delay="50" class="font-bold text-neutral-600 dark:text-neutral-300 text-center leading-none mt-10">Bienvenidos al</p>
        <h2 data-aos="fade-up" data-aos-delay="50" class="text-2xl sm:text-3xl md:text-4xl uppercase font-black text-neutral-800 dark:text-neutral-50 text-center">material de apoyo</h2>
        <p data-aos="fade-up" data-aos-delay="100" class="text-center font-bold text-primary mb-5">#Megaloblastos</p>
        <section class="mb-5">
            <p class="font-bold capitalize text-neutral-800 dark:text-neutral-200">
                año: <span class="font-normal capitalize">{year}</span>
            </p>
            <p class="font-bold capitalize text-neutral-800 dark:text-neutral-200">
                materia: <span class="font-normal capitalize">{materia}</span>
            </p>
            <p class="font-bold capitalize text-neutral-800 dark:text-neutral-200">
                parcial: <span class="font-normal capitalize">{reWrite[parcial]}</span>
            </p>
        </section>
        <BtnBack />
        <ul class="space-y-4 pt-5 pb-10">
            {
                materialSupports.length == 0 ? <p class="dark:text-neutral-300" data-aos="fade-up" data-aos-delay="50">
                    <span class="block">Sección vacía, pide material de apoyo a:</span>
                    <span class="block"><a href="https://wa.link/3rgww3" target="_blank" class="py-1 px-5 bg-orange-500 rounded-md font-medium inline-block hover:bg-orange-600 my-2"><i class="ri-whatsapp-line"></i> Roy Nicolas</a></span>
                    <span class="block"><a href="https://wa.link/3rgww3" target="_blank" class="py-1 px-5 bg-orange-500 rounded-md font-medium inline-block hover:bg-orange-600"><i class="ri-whatsapp-line"></i> Blas Merida</a></span>
                    {/* No hay material de apoyo, escribenos al <a href="#"></a> y haz tu solicitud y en breve estará disponible. */}
                </p> :
                materialSupports.map((material) => (
                    <CardRecursos
                        material={material}
                    />
                ))
            }
            <!-- <CardRecursos
            index={1}
            material={materialPoyo}
        /> -->
            <!-- <p>No hay material de apoyo :(</p> -->
        </ul>
    </section>
</Layout>