---
import { getSession } from "auth-astro/server"
import FormSupportUpdate from "../FormSupportUpdate.vue"

// const { name, url, desc, year, materia, parcial, docente } = Astro.props;
const { material, index } = Astro.props

const theUser = await getSession(Astro.request)
const isAdmin = theUser?.user?.email === "megaloblastosweb@gmail.com"
---

<li class="py-6 px-8 bg-white dark:bg-neutral-800 shadow-md rounded-md">
    <h3 class="text-xl font-bold uppercase text-neutral-700 dark:text-neutral-50 border-b pb-4">{material.title}</h3>
    <p class="py-2 font-medium text-neutral-600 dark:text-neutral-300">{material.desc}</p>
    <div class="flex flex-wrap justify-between item-center py-2">
        <a class="text-primary underline" target="_blank" href={material.url}>Ver</a>
        <p class="font-medium text-neutral-600 dark:text-neutral-300">TIPO: {material.type}</p>
    </div>

    { isAdmin && <FormSupportUpdate client:load material={material} /> }
</li>